@import "tailwindcss";

@theme {
  /* Container Configuration */
  --container-width: 1320px;
  /* Breakpoints */
  --breakpoint-xs: 430px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1320px;

  /* Colors */
  --color-primary: #b1cc09;
  /* rounded basic  */
  --radius-primary: 22px;
  /* shadow  */
  --shadow-primary: 0px -11.295px 25.1px 0px rgba(1, 102, 152, 0.1),
    0px 46.434px 46.434px 0px rgba(1, 102, 152, 0.09),
    0px 11.295px 25.1px 0px rgba(1, 102, 152, 0.1);
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .container {
    padding: 0 16px;
    margin: 0 auto;
  }
}
@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
